# Bytecode Files
__pycache__/
*.pyc
.pytest_cache/

# Virtual Environments
.env
.venv/
venv/
.env/

# OS Metadata
.DS_Store

# Generated data files
data/
dump/

# Visual Studio Code
.vscode/

pyrightconfig.json
